/*
 * Empty Stylesheet file.
 */
*{
    -my-black:#000000;
}

.mainFxmlClass {
    -fx-background-image: url("image/wp_monopoly1357_1280.jpg");
}


/*Caracteristicas especificas*/
.panel-transparent, .panel-transparent .viewport{
    -fx-background-color: transparent;
}
#btSubmit{
    -fx-background-color: none;
    -fx-font-size: 16px;

}

#btSubmit:hover{
    -fx-cursor: hand;
    -fx-font-size: 19px;

}

#apPermissoes{
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-radius: 20px;
}


/*Title Windows style*/
.janela-botoes{
    -fx-background-color:none;
    -fx-padding: 0;
}
.janela-botoes:hover{
    -fx-background-color: darkgrey;
}
#fechar:hover{
    -fx-background-color: red;
}
#barra-titulo{
    -fx-background-color: black;

}

#barra-titulo .label{
    -fx-text-fill: white;
}

